
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475919212'); /* IE9*/
  src: url('iconfont.eot?t=1475919212#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475919212') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475919212') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475919212#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-renwu:before { content: "\e61f"; }
.icon-jineng:before { content: "\e64e"; }
.icon-gongjubao:before { content: "\e636"; }
.icon-laba:before { content: "\e64c"; }
.icon-xinxi:before { content: "\e607"; }
.icon-QQ:before { content: "\e607"; }
.icon-weixin:before { content: "\3488"; }
.icon-phone:before { content: "\e61a"; }
.icon-youxiang:before { content: "\e665"; }
.icon-dizhi:before { content: "\e694"; }
.icon-shezhi:before { content: "\3434"; }
.icon-renwu1:before { content: "\e60c"; }
.icon-shengri:before { content: "\e6c8"; }
.icon-zuobiao:before { content: "\e663"; }
.icon-wangzhan:before { content: "\e84a"; }
.icon-quanping:before { content: "\e675"; }
.icon-shoucang:before { content: "\e637"; }
.icon-tupian:before { content: "\3446"; }
.icon-bi:before { content: "\e604"; }
.icon-xiazai:before { content: "\e606"; }
